ICP4/ICP4.txt
[
    {
        "id": "db6e2bba.c823d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2d4fda5.9e46b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8827d233.f93f5",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": "murali_24"
    },
    {
        "id": "bce88665.43b968",
        "type": "inject",
        "z": "db6e2bba.c823d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "da28a568.0d6b98"
            ]
        ]
    },
    {
        "id": "a39778ee.c73ad8",
        "type": "debug",
        "z": "db6e2bba.c823d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "129a26c7.96bf89",
        "type": "function",
        "z": "db6e2bba.c823d8",
        "name": "extractTweetMsg",
        "func": "\nmsg.payload = \"#Kansas_city \" + new Date().toLocaleString(\"en-US\") +\" : \"+msg.payload.description \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "a39778ee.c73ad8",
                "c2f87916.fab038"
            ]
        ]
    },
    {
        "id": "da28a568.0d6b98",
        "type": "openweathermap",
        "z": "db6e2bba.c823d8",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Kansas city",
        "country": "US",
        "language": "en",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "129a26c7.96bf89"
            ]
        ]
    },
    {
        "id": "c2f87916.fab038",
        "type": "twitter out",
        "z": "db6e2bba.c823d8",
        "twitter": "8827d233.f93f5",
        "name": "Tweet",
        "x": 910,
        "y": 420,
        "wires": []
    }
]