ICP6/ICP6_TrafficSignal.txt
[{"id":"871b50d2.77619","type":"inject","z":"100ef6e6.289509","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":100,"y":320,"wires":[["89e426a8.8b64a8"]]},{"id":"d24db49c.5aeb78","type":"arduino out","z":"100ef6e6.289509","name":"Yellow","pin":"8","state":"OUTPUT","arduino":"1b4036d9.a65319","x":870,"y":320,"wires":[]},{"id":"454fae20.ed723","type":"function","z":"100ef6e6.289509","name":"Toggle output on input","func":"if(msg.payload){\n    context.set('level',0);\n    return [\n        {payload: false},\n        {payload: false},\n        {payload: false}\n        ];\n}\ncontext.set('level',(context.get('level') || 0)+1);\nif(context.get('level')>3){\n    context.set('level',1);\n}\nconst currentlevel = context.get('level');\nreturn[\n    {payload: currentlevel==1},\n    {payload: currentlevel==2},\n    {payload: currentlevel==3}\n    ];\n// var five = context.global.jfive;\n// var color = context.get('led') || \"Red\";\n\n// if(color == \"Red\"){\n//     var led = new five.Led(13);\n// led.blink(500);\n// }\n// else if(color == \"Yellow\"){\n//      context.set('led',\"Green\")\n//     var led = new five.Led(8);\n// led.blink(500);\n// }\n// else{\n//      var led = new five.Led(2);\n// led.blink(500);\n//     context.set('led',\"Red\")\n//     context.level = !context.level || false;\n// }\n\n// var led = new five.Led(13);\n// led.blink(500);\n\n\n// // var color = context.get('led') || \"Red\";\n// // var off = msg.payload;\n// // console.log(color);\n\n// // // set the payload to the level and return\n\n// // if(off == \"Off\"){\n// //   context.level = false;\n// //   msg.led=\" \";\n// // }\n// // else{\n// // msg.led = color;\n// // if(color == \"Red\"){\n// //     context.set('led',\"Yellow\")\n// //     context.level = !context.level || false;\n// // }\n// // else if(color == \"Yellow\"){\n// //     context.set('led',\"Green\")\n// //     context.level = !context.level || false;\n// // }\n// // else{\n// //     context.set('led',\"Red\")\n// //     context.level = !context.level || false;\n// // }\n// // }\n// msg.payload = context.level;\n// return msg;","outputs":3,"noerr":0,"x":460,"y":320,"wires":[["72f507b8.1e79a8"],["d24db49c.5aeb78"],["f4b30780.528b38"]]},{"id":"72f507b8.1e79a8","type":"arduino out","z":"100ef6e6.289509","name":"Red","pin":"13","state":"OUTPUT","arduino":"1b4036d9.a65319","x":870,"y":180,"wires":[]},{"id":"f4b30780.528b38","type":"arduino out","z":"100ef6e6.289509","name":"Green","pin":"2","state":"OUTPUT","arduino":"1b4036d9.a65319","x":870,"y":420,"wires":[]},{"id":"89e426a8.8b64a8","type":"ui_switch","z":"100ef6e6.289509","name":"","label":"switch","tooltip":"","group":"21d8a015.7e335","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":320,"wires":[["454fae20.ed723"]]},{"id":"1b4036d9.a65319","type":"arduino-board","z":"","device":"COM12"},{"id":"21d8a015.7e335","type":"ui_group","z":"","name":"ICP 5","tab":"f20cc699.a78ed8","disp":true,"width":"6","collapse":false},{"id":"f20cc699.a78ed8","type":"ui_tab","z":"","name":"ICP 5","icon":"dashboard","disabled":false,"hidden":false}]