ICP5/code.txt
[{"id":"17cd52.7e9502af","type":"openweathermap","z":"95a501bb.cfdf","name":"","wtype":"current","lon":"","lat":"","city":"Kansas city","country":"US","language":"en","x":590,"y":120,"wires":[["5d598d29.4ad644"]]},{"id":"83882709.23ed38","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":220,"wires":[]},{"id":"5d598d29.4ad644","type":"function","z":"95a501bb.cfdf","name":"extractInfoFromResult","func":"msg.temp=msg.payload.temp_minc;\nmsg.desc = msg.payload.description;\nmsg.hum = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["d7085ad4.2dc798"]]},{"id":"b9387f47.20139","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"temp","x":1040,"y":280,"wires":[]},{"id":"6e332352.8b1e1c","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"desc","x":1040,"y":340,"wires":[]},{"id":"9a82fdef.4850b","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"hum","x":1040,"y":400,"wires":[]},{"id":"d7085ad4.2dc798","type":"rbe","z":"95a501bb.cfdf","name":"DisplayControl","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1040,"y":120,"wires":[["1c776754.c6f709"]]},{"id":"7ad30bf9.a02f44","type":"function","z":"95a501bb.cfdf","name":"DisplayMsg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":300,"wires":[["83882709.23ed38","b9387f47.20139","6e332352.8b1e1c","9a82fdef.4850b","76d43127.2ab45","b9685ce5.21cdc","32e46dfb.94ae92"]]},{"id":"1c776754.c6f709","type":"switch","z":"95a501bb.cfdf","name":"CheckTemperature","property":"temp","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"str"},{"t":"btwn","v":"21","vt":"num","v2":"25","v2t":"num"},{"t":"gt","v":"26","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":300,"wires":[["4239b96e.9fd4a8"],["c72b1b48.5e4218"],["6775507.c4f3db"]]},{"id":"4239b96e.9fd4a8","type":"function","z":"95a501bb.cfdf","name":"Cold","func":"msg.tempmsg = \"Its cold \";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["7ad30bf9.a02f44"]]},{"id":"c72b1b48.5e4218","type":"function","z":"95a501bb.cfdf","name":"Normal","func":"msg.tempmsg = \"Its normal \";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["7ad30bf9.a02f44"]]},{"id":"6775507.c4f3db","type":"function","z":"95a501bb.cfdf","name":"Hot","func":"msg.tempmsg = \"Its hot \";\nreturn msg;","outputs":1,"noerr":0,"x":449,"y":361,"wires":[["7ad30bf9.a02f44"]]},{"id":"76d43127.2ab45","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tempmsg","x":1050,"y":480,"wires":[]},{"id":"7f3ee8bc.16b9b8","type":"mqtt out","z":"95a501bb.cfdf","name":"","topic":"noderedlecture/sensor","qos":"","retain":"","broker":"72a8a7e2.381078","x":480,"y":612,"wires":[]},{"id":"ad6f342e.0d23c8","type":"inject","z":"95a501bb.cfdf","name":"posting Data","topic":"","payload":"{\"postData\":false}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":190,"y":611,"wires":[["7f3ee8bc.16b9b8"]]},{"id":"2817c9e.8a8c036","type":"mqtt in","z":"95a501bb.cfdf","name":"","topic":"noderedlecture/sensor","qos":"2","broker":"cfaf5e2c.3cc59","x":160,"y":120,"wires":[["723ef277.acacec"]]},{"id":"723ef277.acacec","type":"json","z":"95a501bb.cfdf","name":"","property":"payload","action":"","pretty":false,"x":330,"y":120,"wires":[["312edbab.55f3a4","ba38cbcf.4c5f08"]]},{"id":"b9685ce5.21cdc","type":"websocket out","z":"95a501bb.cfdf","name":"","server":"","client":"92cd360f.519398","x":870,"y":560,"wires":[]},{"id":"765407fb.39cca8","type":"websocket in","z":"95a501bb.cfdf","name":"","server":"","client":"92cd360f.519398","x":800,"y":640,"wires":[["e69b1053.67be8"]]},{"id":"e69b1053.67be8","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":1070,"y":620,"wires":[]},{"id":"f8133f1.dd3cec","type":"http in","z":"95a501bb.cfdf","name":"","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":210,"y":780,"wires":[["a9dd4dc1.7228"]]},{"id":"a9dd4dc1.7228","type":"file in","z":"95a501bb.cfdf","name":"","filename":"C:/Users/Kite/Desktop/1.jpg","format":"","sendError":true,"x":420,"y":780,"wires":[["8ffb5453.bef768"]]},{"id":"8ffb5453.bef768","type":"change","z":"95a501bb.cfdf","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":780,"wires":[["8378334b.38fba"]]},{"id":"8378334b.38fba","type":"http response","z":"95a501bb.cfdf","name":"","statusCode":"","headers":{},"x":970,"y":780,"wires":[]},{"id":"312edbab.55f3a4","type":"function","z":"95a501bb.cfdf","name":"SendMsg","func":"msg.payload = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["17cd52.7e9502af"]]},{"id":"ba38cbcf.4c5f08","type":"debug","z":"95a501bb.cfdf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":60,"wires":[]},{"id":"48aaecfd.cd28a4","type":"twitter out","z":"95a501bb.cfdf","twitter":"","name":"Tweet","x":1330,"y":540,"wires":[]},{"id":"32e46dfb.94ae92","type":"function","z":"95a501bb.cfdf","name":"Post Tweet","func":"msg.payload = \"#Kansas_city \" + new Date().toLocaleString(\"en-US\") +\" : \"+msg.payload.description \nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":560,"wires":[["48aaecfd.cd28a4"]]},{"id":"72a8a7e2.381078","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cfaf5e2c.3cc59","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"noderedlecture/sensor","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92cd360f.519398","type":"websocket-client","path":"wss://echo.websocket.org","wholemsg":"false"}]